<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>simple c/s</title>
</head>

<body>

<button type="submit" onclick="getData()">查询</button>
<p id="data"></p>
<script>
        function getData() {
            let newURL = 'http://localhost:8080/hello';
            console.log(newURL);
            var xhr = new XMLHttpRequest();
            xhr.onreadystatechange = function() {
                if (xhr.readyState === 4) {
                    if (xhr.status === 200) {
                        return success(xhr.responseText);
                    } else {
                        alert('失败！')
                    }
                }
            }
            xhr.open('GET', newURL);
            xhr.send();
        }

        function success(data) {
            let weather = document.getElementById('data');
            weather.innerText = data;
            
        }

</script>
</body>

</html>